.nav{
    display: flex;
    flex-direction: column;
}

.link{
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 22px;
    font-weight: 400;
}

.block{
    background-color: red;
}

.active{
    color: green;
}
